.first-container {
  background-image: url('../../assets/background.jpg');
  padding: 20px 0;
}

.title {
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

.video-content {
  display: flex;
  justify-content: center;
}

.second-container {
  background-color: #232323;
  padding: 40px 0;
}

.container-text{
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
