.first-container {
  padding: 20px 0;
  background-image: url('../../assets/background.jpg');
}

.title {
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}
.second-container {
  background-color: #232323;
  padding: 20px 0;
}

.container-text{
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  text-align: center;
}
